
/*-- scss:rules --*/

.table {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.fritz-mega-schem {
    width: 25em !important;
    max-height: 25em !important;
    object-fit: cover;
    object-position: top;
}

.cite {
    font-style: italic;
    text-align: center;
    font-size: 0.6em;
}

.autow {
    width: auto !important;
}


.parts {
    height: 10em !important;
    width: auto !important;

}

.schem {
    height: 20em !important;
    width: auto !important;
}


.rot90 {
    transform: rotate(90deg);
}

.kbd-key {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.2em;
    background-color: #f9f9f9;
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.1);
}


.ednote {
    color: red !important;
    font-style: italic !important;
    border: red 1px dotted;
    border-right: none;
}

.table {
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto;
}

.result-table td:last-child {
    border-left: 1.5px solid black
}

